.ag-theme-alpine {
    /* position: relative; */
    border: 1.5px solid  rgba(41, 217, 9, 0.974);
    border-collapse: separate;
    border-spacing: 0;
    border-left: 0.5px solid  rgba(56, 212, 4, 0.745);
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 5px 5px 5px rgba(59, 59, 59, 0.521);
    margin:0;
    margin-top: 3%;
    margin-left: 9rem;
    --ag-odd-row-background-color: #D9D9D9;
    --ag-header-background-color: rgba(82, 181, 62, 0.648);
    --ag-row-hover-color: rgba(160, 211, 154, 0.696);
    --ag-range-selection-border-color:transparent;
    --ag-row-border:none;
    --ag-header-column-separator-display:border;
    --ag-header-column-separator-color: rgba(0, 0, 0, 0.521); 

}

.ag-ltr .ag-cell{
    border-right-width: 1px;
    border-right-color:  rgba(0, 0, 0, 0.521);
}

.ag-header-cell{
    border-bottom: 1px solid rgba(0, 0, 0, 0.521);
}

.ag-theme-alpine .ag-icon-menu:hover{
    color: rgb(0, 118, 92);
}

.ag-theme-alpine .ag-icon-none:hover{
    color: rgb(0, 130, 89);
}

.ag-header-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

h5{
    margin-top: 3%;
    text-align: center;
}


