.footer{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    font-weight: 600;
    width:100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    text-align:center;
    padding: 5px;
    padding-left: 80px;
    color: rgb(62, 62, 62);
}

.intro{
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(175, 171, 171, 0.553);
}

h3{
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
}

h4{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.card{
    border: none;
    margin-right: 10px;
    margin-top: 2rem;
}

.agGridLogo{
    width: 3rem;
    height: 3rem;
    margin-left: 10px;
}

.card-img-top{
    align-self: center;
    width: 7rem;
    height: 7rem;
}

.agGridEx{
    padding-left: 10%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.examp{
    margin-right: 3%;
    box-shadow: 0px 5px 15px rgba(175, 171, 171, 0.659);
}

.card-body{
    align-self: center;
    text-align: center;
}

.cardText{
    height: 9rem;
}

.fa-eyes{
    color: rgb(0, 31, 57);
}

.btn{
    border: none;
}

.btn:hover{
    color: rgb(255, 0, 0);
}

a{
    text-decoration: none;
    color: black;
}
