<a href="https://www.ag-grid.com/" target="_blank"><h3>AG-Grid<img src="https://blog.ag-grid.com/content/images/2021/11/200pxArtboard-5.png" class="agGridLogo"></h3></a>
<div class="intro"><p>
    Ag-Grid is a feature-rich JavaScript library that provides developers with a highly customizable and performant
    data grid for web applications. It is designed to handle large datasets and offers a wide range of functionalities,
    making it a popular choice for building complex grid interfaces.</p><p>
    With Ag-Grid, developers can easily display, sort, filter, and edit tabular data. It supports various features such
    as column grouping, pinning, resizing, and reordering, enabling users to efficiently navigate and manipulate data.
    The library also offers advanced features like row selection, virtual scrolling, and server-side pagination, which
    optimize performance when dealing with large amounts of data. Ag-Grid is framework-agnostic (can be used with different
    JavaScript frameworks and libraries) and can be implemented using the following technologies.</p>
    <div class="row">
        <div class="col-sm-3">
            <a href="https://www.ag-grid.com/javascript-data-grid/getting-started/" target="_blank">
            <div class="card">
                <img class="card-img-top" src="https://www.ag-grid.com/_astro/javascript.DOqolN0O.svg" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">JavaScript</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.ag-grid.com/react-data-grid/getting-started/" target="_blank">
            <div class="card">
                <img class="card-img-top" src="https://www.ag-grid.com/_astro/react.CtDRhtxt.svg" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">React</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.ag-grid.com/angular-data-grid/getting-started/" target="_blank">
            <div class="card">
                <img class="card-img-top" src="https://www.ag-grid.com/_astro/angular.CZpVmV7c.svg" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Angular</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.ag-grid.com/vue-data-grid/getting-started/" target="_blank">
            <div class="card">
                <img class="card-img-top" src="https://www.ag-grid.com/_astro/vue.Do-aiSqX.svg" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Vue</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>

<hr/>
<h4>AG-Grid Angular Examples</h4>

<div class="agGridEx">
    <div class="row">
        <div class="col-md-2 examp">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Static Grid</h5>
              <p class="card-text cardText">Implementation of AG-Grid using hardcoded or static data</p>
              <a routerLink="/static-ag-grid" (click)="handPointVisible('staticGrid')" class="btn"><i class="fa-solid fa-eye"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-2 examp">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Dynamic Grid</h5>
              <p class="card-text cardText">AG-Grid implementation using dynamic data retrieved from a JSON file.</p>
              <a routerLink="/dynamic-ag-grid" (click)="handPointVisible('dynamicGrid')" class="btn"><i class="fa-solid fa-eye"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-2 examp">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">With Features</h5>
                <p class="card-text cardText">AG-Grid provides various features to make the grid more flexible. Search/ paging/ sort/ filter are some.</p>
                <a routerLink="/features-ag-grid" (click)="handPointVisible('featureGrid')" class="btn"><i class="fa-solid fa-eye"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-2 examp">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Customized C/R</h5>
                <p class="card-text cardText">Customized specific columns and rows for AG-Grid</p>
                <a routerLink="/customized-cr-ag-grid" (click)="handPointVisible('customGrid')" class="btn"><i class="fa-solid fa-eye"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-2 examp">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">With Animation</h5>
                <p class="card-text cardText">Implementation of AG-Grid using animated content</p>
                <a routerLink="/animated-ag-grid" (click)="handPointVisible('animatedGrid')" class="btn"><i class="fa-solid fa-eye"></i></a>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-2 handPoint">
          <i class="fa-sharp fa-solid fa-hand-point-down fa-bounce" id="staticGrid"></i>
        </div>
        <div class="col-md-2 handPoint">
          <i class="fa-sharp fa-solid fa-hand-point-down fa-bounce" id="dynamicGrid"></i>
        </div>
        <div class="col-md-2 handPoint">
          <i class="fa-sharp fa-solid fa-hand-point-down fa-bounce" id="featureGrid"></i>
        </div>
        <div class="col-md-2 handPoint">
          <i class="fa-sharp fa-solid fa-hand-point-down fa-bounce" id="customGrid"></i>
        </div>
        <div class="col-md-2 handPoint">
          <i class="fa-sharp fa-solid fa-hand-point-down fa-bounce" id="animatedGrid"></i>
        </div>
      </div>
</div>
<hr/>

<div class="example">
  <router-outlet></router-outlet>
</div>

<footer class= "footer">
    <span> All Rights Reserved 2023 @Dulara_Dinuli</span>
</footer>



