@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

html, body {
    padding: 5px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

h5{
    margin-top: 3%;
    text-align: center;
}

 
 